body {
    font-size: .9rem;
    font-family: Roboto,arial,sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

header div {
    margin: .5rem 0;
    display: flex;
    align-items: center;
}

header div span {
    padding: 0 .75rem;
}

#apps {
    width: 1.5rem;
}

#user {
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin-bottom: 1rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search {
    display: flex;
    justify-content: space-between;
    border: 1px solid #dfe1e5;
    width: 50%;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

input {
    border: none;
    width: 86%;
}

input:focus {
    outline: none;
}

button {
    color: #3c4043;
    background: #f8f9fa;
    border: none;
    border-radius: 4px;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    color: #3c4043;
    padding: 1rem 0;
}

#bottom {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.left {
    margin-left: .9rem;
}

.right {
    margin-right: .9rem;
}

#leaf {
    width: .8rem;
}